# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Open flow': 'flow:open'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Flow'
      'submenu': [
        { 'label': 'Open', 'command': 'flow:open' }
      ]
    ]
  }
]
